<!-- ///////////////////////////
    /// JOIN CROWDCART!!! /////
   /////////////////////////// -->
<html ng-app="crowdcart">
  <head>
    <title>CrowdCart!</title>
  </head>
  <body>
    <div className="top-nav">
      <div className="top-nav-left">
        <ul>
          <li>Logo/CrowdCart</li>
          <li>MyLists</li>
          <li>AllLists</li>
          <li>MyJobs</li>
          <li>FindJobs</li>
        <ul>
      </div>
      <div className="top-nav-right">
        <ul>
          <li>Signin|Signup|Logout<li>
<!--           this can prob be handled with ng-view -->
        </ul>
      </div>
    </div>
    <h1>CrowdCart!</h1>
    <div ng-view></div>
<!--     <div ng-init="lists=[]" >
      <div>start of test block</div>
      <input ng-model="newList">
      <button ng-click="lists.push(newList); newList='';">add</button>
      <ul>
        <li ng-repeat="list in lists track by $index">
          <h3>{{ list }}</h3>
        </li>
      </ul>
      <pre>{{ lists | json }}</pre>
      <div>end of test block</div>
    </div>  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="services/services.js"></script>
    <script src="app.js"></script>
  </body>
</html>

<!-- TODO
1. determine if header should be outside of ng-view
2. set up ng-view div
3. individual html for views (mylist, alllist, myjobs)
4. connect all relevant js/css  -->
