<!-- ///////////////////////////
    /// JOIN CROWDCART!!! /////
   /////////////////////////// -->
<html ng-app="crowdcart">
  <head>
    <title>CrowdCart!</title>
  </head>
  <body ng-controller="AppController">
    <div className="top-nav">
      <div className="top-nav-left">
        <ul>
          <li>Logo/CrowdCart</li>
          <li><a href='#/mylists'>MyLists</a></li>
          <li><a href='#/alllists'>AllLists</a></li>
          <li><a href='#/myjobs'>MyJobs</a></li>
        <ul>
      </div>
      <div className="top-nav-right">
        <ul>
          <li ng-if="hasSession"><a ng-click="signout()" href='#/logout'>Logout</a><li>
<!--           this can prob be handled with ng-view -->
        </ul>
      </div>
    </div>
    <h1>CrowdCart!</h1>
    <div ng-view></div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="auth/auth.js"></script>
    <script src="lists/lists.js"></script>
    <script src="services/services.js"></script>
    <script src="app.js"></script>
  </body>
</html>

<!-- TODO
1. determine if header should be outside of ng-view
2. set up ng-view div
3. individual html for views (mylist, alllist, myjobs)
4. connect all relevant js/css  -->
