.items, .delivery-address {
  padding: 3px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.top-logo {
  text-align: center;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.top-nav-left, .top-nav-right {
  display: inline-flex;
}