<!-- All Lists View -->

<div class="all-lists contents-container">
  <h3>All Open Lists</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>List Name</th>
        <th>Location</th>
        <th>Due</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="list in data.allLists | orderBy:'due_at' | filter:search" ng-click="displayDetail(this.list._id)">
        <td>{{ list.name }}</td>
        <td>{{ list.delivery_address.city }}, {{ list.delivery_address.state }}</td>
        <td><span am-time-ago="list.due_at"></span></td>
        <td><a ng-click="addJob(list)" class="btn btn-primary btn-sm active">Add Job</a></td>
      </tr>
    </tbody>
  </table>

  <div id="map_canvas" ></div>
</div>