<!-- All Lists View -->

<div class="lists">
  <h3>All Open Lists</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>List Name</th>
        <th>Location</th>
        <th>Due Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="list in data.allLists | filter:search">
        <td>{{ list.name }}</td>
        <td>{{ list.delivery_address.city }}, {{ list.delivery_address.state }}</td>
        <td>{{ list.due_at }}</td>
        <td><a ng-click="addJob(list)" class="btn btn-primary btn-sm active">Add Job</a></td>
      </tr>
    </tbody>
  </table>
</div>