<div class='newlist'>
  <div>Create New List Page</div>

  <!-- inputs here -->
  <form name="addListForm" ng-submit='addList()'>
    <input type="text" ng-model="list.name" placeholder="Enter the list name here">
    <div>Delivery Address</div>
    <input type="text" ng-model="list.delivery_address.street" placeholder="Enter your street here">
    <input type="text" ng-model="list.delivery_address.city" placeholder="Enter your city here">
    <input type="text" ng-model="list.delivery_address.state" placeholder="Enter your state here">
    <input type="text" ng-model="list.delivery_address.zip_code" placeholder="Enter your zip code here">
    <div>Details</div>
    <input type="number" ng-model="list.offer_price" placeholder="Enter your offer price here">
    <input type="Date" ng-model="list.due_at" placeholder="Enter your expected due date here">


    <!-- Add item here -->




  </form>





</div>