<div class='newlist contents-container'>
  <div>Create New List Page</div>

  <!-- inputs here -->
  <form name="addListForm" >
    <input type="text" ng-model="list.name" placeholder="Enter the list name here">
    <div>Delivery Address</div>
    <input type="text" ng-model="list.delivery_address.street" placeholder="Enter your street here">
    <input type="text" ng-model="list.delivery_address.city" placeholder="Enter your city here">
    <input type="text" ng-model="list.delivery_address.state" placeholder="Enter your state here">
    <input type="text" ng-model="list.delivery_address.zip_code" placeholder="Enter your zip code here">
    <div>Details</div>
    <input type="number" ng-model="list.offer_price" placeholder="Enter your offer price here">
    <input type="Date" ng-model="list.due_at" placeholder="Enter your expected due date here">
    <a href="#/mylists">
      <input type="button" value="Submit">
    </a>
    <!-- Add item here -->
    <div>Item</div>

      <form name="addItemForm">
        <input type="text" ng-model="item.item_name" placeholder="Enter the item name here">
        <input type="number" ng-model="item.quantity" placeholder="Enter the quantity here">
        <input type="number" ng-model="item.unite_price" placeholder="Enter the unit price here">
        <button ng-click='list.items.push(item); item = {};'>Add more items</button>
      </form>



      <div>{{list.items | json}}</div>

    <button ng-click='addList()'>Submit List</button>
  </form>







</div>