<!-- list view for mylist -->
<div class="mylist contents-container">
  <h3>My Lists</h3>
  <div ng-if="data.lists.length > 5"><a href='#/createnewlist'>Create New List</a></div>
    <table class="table table-hover">
      <thead>
        <tr class="header">
          <th>List Name</th>
          <th>Location</th>
          <th>Due</th>
          <th></th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="list" ng-repeat="list in data.lists | orderBy:'due_at' | filter:search">
          <td ng-click="displayDetail(this.list._id)">{{ list.name }}</td>
          <td ng-click="displayDetail(this.list._id)">{{ list.delivery_address.city }}, {{ list.delivery_address.state }}</td>
          <td ng-click="displayDetail(this.list._id)"><span am-time-ago="list.due_at"></span></td>
          <td><a ng-click="deleteList(this.list._id, $index)" class="btn btn-primary btn-sm active">Delete List</a></td>
          <td ng-if="!list.deliverer_id">Open</td>
          <td ng-if="!!list.deliverer_id">In Work!</td>
        </tr>
      </tbody>
    </table>
    <div><a href='#/createnewlist' class="btn btn-primary btn-sm active">Add List</a></div>
  </div>
  <!-- <pre>{{ displayList.name }}</pre> -->
</div>