<!-- list view for mylist -->
<div class="lists">
  <div>myList</div>
  <div><a href='#/createnewlist'>Create New List</a></div>
    <table>
      <thead>
        <tr class="header">
          <th>list name</th>
          <th>location</th>
          <th>due in</th>
        </tr>
      </thead>
      <tbody>
        <tr class="list" ng-repeat="list in data.lists | filter:search" ng-click="displayDetail()">
          <td>{{ list.name }}</td>
          <td>{{ list.delivery_address.city }}, {{ list.delivery_address.state }}</td>
          <td>{{ list.due_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div><a href='#/createnewlist'>Add List</a></div>
  <pre>{{ displayList.name }}</pre>
</div>