<!-- sing up page/box -->

<div id="signup">
  <form name="signup-form" ng-submit="signup()">
    <input type="text" ng-model="user.username" placeholder="username">
    <input type="email" ng-model="user.email" placeholder="email">
    <input type="password" ng-model="user.password" placeholder="password">
    <input type="text" ng-model="user.address.street" placeholder="street">
    <input type="text" ng-model="user.address.city" placeholder="city">
    <input type="text" ng-model="user.address.state" placeholder="state">
    <input type="text" ng-model="user.address.zip_code" placeholder="zip">
    <button>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>