<!-- sign in page/box -->

<div class="signin-outer">
  <div class="signin-inner">
    <form name="signin-form" ng-submit="signin()">
      <div class="signin-field"><input type="email" ng-model="user.email" placeholder="Email"></div>
      <div class="signin-field"><input type="password" ng-model="user.password" placeholder="Password"></div>
      <button>Sign In</button>
    </form>
    <div>
    <a href="#/signup" style="color: white">Don't have an account? <strong>Signup</strong>...</a>
    </div>
  </div>
</div>
